<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" ng-app="modone"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Calendario Compartido</title>
	<meta name="description" content="Free Html5 Templates and Free Responsive Themes Designed by Kimmy | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="css/zerogrid.css">
	<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/responsiveslides.css" />
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='./images/favicon.ico' rel='icon' type='image/x-icon'/>
	<script src="js/jquery.min.js"></script>
	<script src="js/responsiveslides.js"></script>
	<script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			pager: false,
			nav: true,
			speed: 500,
			maxwidth: 962,
			namespace: "centered-btns"
		  });
		});
	</script>
        
        
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/appmodule.js"></script>
        
         
        
        
   
        
        
</head>
<body>
<!--------------Header--------------->
<header>
	<div class="wrap-header zerogrid">
		<div id="logo"><a href="#"><img src="./images/logo.png"/></a></div>
		
	</div>
</header>

<nav>
	<div class="wrap-nav zerogrid">
		<div class="menu">
			<ul>
                            <li><a href="portada.html">Portada</a></li>                              
                            <li><a href="formulario.html">Crear Tarea</a></li>
                            <li><a href="consulta.html">Consultar Tarea</a></li>
                            <li><a href="documento.html">Documento</a></li>
				
			</ul>
		</div>
		
		<div class="minimenu"><div>MENU</div>
			<select onchange="location=this.value">
				<option></option>
                                <option value="portada.html">Portada</option>
				<option value="formulario.html">Crear tarea</option>
				<option value="consulta.html">Consultar Tarea</option>
				<option value="documento.html">Documento</option>
			</select>
		</div>		
	</div>
</nav>

 

     


<!--------------Content--------------->
<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block03">
			<div class="col-2-1">
				<div class="wrap-col">
					<article>
						<div class="comment" 
                                                     >
                                                    <form ng-controller="controlador as cn">
                                                        <br><br>
                                                        <center>
                                                            <button ng-click="cn.consultaGrupo()" class="btn btn-lg btn-primary">Consultar grupos </button>
                                                          
                                                            <select ng-model="cn.nombre">
                                                                <option ng-repeat="o in arregloGrupos" value="{{o}}" class="b-lg btn-success">
                                                                    {{o}}
                                                                </option>  
                                                            </select>
                                                            <br><br>
                                                             <button ng-click="cn.consultaNombre()" class="btn btn-lg btn-primary">Consultar tareas</button>
                                                      
                                                             <select ng-model="tarea">
                                                                <option ng-repeat="o in arregloTareas" value="{{o}}" class="b-lg btn-success">
                                                                    {{o}}
                                                                </option>  
                                                            </select>
                                                  
                                                            <br><br>
                                                             
                                                             <button ng-click="cn.consultarTodo()" class="btn btn-lg btn-primary">Consultar</button>
                                                              <br><br>
                                                               <textarea ng-model="descripcion"></textarea><br>
                                                             
                                                             
                                                             
                                                        </center>
                                                    </form>

						</div>
					</article>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!--------------Footer--------------->
<footer>
	<div class="wrap-footer zerogrid">
		<div class="row block09">
			<div class="col-1-2">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h2>Acerca de nosotros</h2></div>
						<div class="content">
							<p>El Calendario Colaborativo te permite crear Tareas con tu grupo de trabajo.</p>
							<p>Tienes la posibilidad de crear un documento en el que todos pueden editar.</p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-1-2">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h2>Contacto </h2></div>
						<div class="content">
							<ul>
								<li>Email 1 : tatatorres1@gmail.com</li>
								<li>Email 2: vivianahg13@gmail.com</li>
								<li>Contacto: Escuela Colombiana de Ingenieria</li>
							</ul>
						</div>
					</div>
		
                                </div>
			</div>
		</div>
		
		
	</div>
</footer>

</body></html>