
<html ng-app="modone">
    <head>
        <title>Web sockets demo</title>
    </head>
     <body style="background-color:#428CC3;">
          <center><h1>Formulario</h1></center>

        <!-- Angular.js -->
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/appmodule.js"></script>

        <!-- Sock.js && Stomp for Websockets libraries -->
        <script src="js/libs/sockjs-0.3.min.js"></script>
        <script src="js/libs/stomp.js"></script>

        <script src="js/libs/websockmodule.js"></script>

        <div id="control" ng-controller="controlador as cn">
      <center>
           
            Fecha: <input  type="date" ng-model="fecha"><br><br>
            Grupo: <input type="text" name="grupo" ng-model="grupo"><br><br>
            Nombre: <input type="text" name="nombre" ng-model="nombre"><br><br>
            Descripcion: <input type="text" name="descripcion" ng-model="descripcion"><br><br>  
            <button class="btn btn-success"  ng-click="enviar()" >Enviar</button>
          </center>

        </div>
    </body>
</html>
